# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual Environment
venv/
.env
.env.*

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test and Coverage
htmlcov/
.coverage
*.cover
*.py,cover
.tox/
.nox/
.cache/
pytest_cache/
*.pytest_cache/

# Build
build/
dist/
*.egg-info/
.eggs/

uploads/
/uploads/
./uploads